<div class="page-header">

    Photos
    <a href="/photos/new" class="btn btn-lg btn-success"><i class="fa fa-plus fa-4x" aria-hidden="true"></i></a>

</div>



      <% @photos.each do |photo| %>
      <tr>
        <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= photo.user.username %>


          </h3>
        </div>
        <div class="panel-body">
            <img src="<%= photo.image %>" width="300"/>
            <p>
            <%= photo.caption %>
            </p>



              <i class="fa fa-heart" aria-hidden="true"></i>

            <% @likes.where(:photo_id => photo.id).each do |like| %>

                <%= like.user.username %>

              <% end %>


            <% @comments.where(:photo_id => photo.id).each do |comment| %>
            <ul>
              <dd><%= comment.user.username %>
              </dd>
            <%= comment.body %>
            </ul>
            <% end %>



            <div class="row">
                <form action="/quick_comment" method="post">
                  <!-- Hidden input for authenticity token to protect from forgery -->
                  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                  <!-- Label and input for photo_id -->

                    <input type="hidden" id="photo_id" name="photo_id"  class="form-control" value="<%= photo.id %>">

                    <input type="hidden" id="user_id" name="user_id" placeholder="User" class="form-control" value="<%= current_user.id %>">

                  <!-- Label and input for body -->
                  <div class="form-group">

                    <input type="text" id= "body" name="body" placeholder="Add a comment..." class="form-control" required>

                  </div>

                  <button class="btn btn-success">
                    Create Comment
                  </button>

                </form>
              </div>


            <dd>
            <a href="/photos/<%= photo.id %>" class="btn btn-primary">Show</a>

            <%if photo.user.username == current_user.username %>

            <a href="/photos/<%= photo.id %>/edit" class="btn btn-warning">Edit</a>
            <a href="/delete_photo/<%= photo.id %>" class="btn btn-danger" rel="nofollow">Delete</a>

            <%end%>
            </dd>


        </div>
      </div>



      </tr>
      <% end %>
    </table>
  </div>
</div>
